<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><a href="{{url_for('home')}}">My Blog</a></h1>
            <p>Welcome to my blog!</p>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body>
</html>